Repository sss-develops/query-server, pull requests merged in 2023-03, with the labels that each got.

#14 [BE] 회사 조회 API를 리팩토링한다.
  query-server/src/main/java/project/goorm/queryserver/business/core/domain/company/entity/TopSearchedCompany.java
  query-server/src/main/java/project/goorm/queryserver/business/core/domain/company/infrastructure/query/CompanyQueryRepository.java
  query-server/src/main/java/project/goorm/queryserver/business/core/domain/news/infrastructure/command/NewsJpaRepository.java
  query-server/src/main/java/project/goorm/queryserver/business/web/common/paging/Cursor.java
  query-server/src/main/java/project/goorm/queryserver/business/web/common/paging/CursorPageable.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/application/CompanyQueryService.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/application/CompanySearchQuery.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/application/service/CompanyQueryService.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/application/service/RedisCacheService.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/presentation/CompanyDetailSearchAPI.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/presentation/CompanyListSearchAPI.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/presentation/CompanyQueryAllAPI.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/presentation/CompanyQueryByIdAPI.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/presentation/CompanyQueryByNameAPI.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/presentation/TopSearchedCompaniesAPI.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/presentation/response/CompanyResponse.java
  query-server/src/main/java/project/goorm/queryserver/common/configuration/argumentresolver/PagingArgumentResolver.java
  query-server/src/main/java/project/goorm/queryserver/common/configuration/redis/RedisKey.java
Labels: refactor

#23 Feature/21 cursor news search
  query-server/build.gradle
  query-server/src/main/java/project/goorm/queryserver/business/core/domain/news/infrastructure/query/NewsQueryRepository.java
  query-server/src/main/java/project/goorm/queryserver/business/web/common/paging/Cursor.java
  query-server/src/main/java/project/goorm/queryserver/business/web/common/paging/CursorResult.java
  query-server/src/main/java/project/goorm/queryserver/business/web/news/application/service/paging/NewsCursorSearchService.java
  query-server/src/main/java/project/goorm/queryserver/business/web/news/presentation/NewsQueryByCursorAPI.java
  query-server/src/test/java/project/goorm/queryserver/common/configuration/rdb/AbstractContainerTestBase.java
  query-server/src/test/java/project/goorm/queryserver/test/helper/helper/PersistenceHelper.java
  query-server/src/test/java/project/goorm/queryserver/test/integration/news/paging/NewsCursorPagingServiceTest.java
Labels: feature, test, refactor

#29 build, feature, refactor, test - 회사 이름 API에 커서 페이징을 적용하고 테스트를 작성한다.
  query-server/src/main/java/project/goorm/queryserver/business/core/domain/company/infrastructure/query/CompanyQueryRepository.java
  query-server/src/main/java/project/goorm/queryserver/business/web/common/paging/Cursor.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/application/CompanySearchQuery.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/application/service/CompanyQueryService.java
  query-server/src/main/java/project/goorm/queryserver/business/web/company/presentation/CompanyListSearchAPI.java
  query-server/src/test/java/project/goorm/queryserver/test/helper/fixture/company/CompanyListFixture.java
  query-server/src/test/java/project/goorm/queryserver/test/integration/search/CompanySearchByNameIntegrationTest.java
  query-server/src/test/java/project/goorm/queryserver/test/unit/cursor/CursorUnitTest.java
Labels: feature, build, test, refactor
